.postPage-wrapper {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

/* 제목 */
.postPage-wrapper h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

/* 테이블 기본 */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* 테이블 헤더 */
thead {
  background-color: #836767;
  color: #f6f6f6;
}

th, td {
  text-align: center;
  padding: 12px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}


tbody tr:hover {
  background-color: #f9f9f9;
}

/* 페이지네이션 영역 */
.postPage-wrapper > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

button {
  padding: 6px 16px;
  font-size: 14px;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background-color: #2e59d9;
}

span {
  font-size: 14px;
  color: #333;
}

.header-left{
  display: flex;
  gap: 20px;
}

.nickname{
  font-size: 1.1rem;
  font-weight: 500;
}

.search-wrapper{
  display: flex;
  flex-direction: row;
  gap: 0;
}

.search-wrapper input{
  width: 160px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(173, 173, 173);
  border-right: none;
  border-radius: 6px 0 0 6px;
}

.search-wrapper button{
  border-radius: 0 6px 6px 0;
  height: 34px;
}

.postPage-top{
  display: flex;
  justify-content: space-between;
}

.postPage-top > button{
  width: 120px;
  height: 50px;
}